.kirjaudu {
    background-color: lightblue;
}

.ylapalkki {
    background-color: lightblue;
    font-weight: bold;
    padding: 5px;
}

.kirjautumisvalikko {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.kirjautumisvalikko label {
    margin-top: 10px;
    font-weight: bold;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: blue;
    color: white;
    font-weight: bold;
}

.joukkuenimi {
    display: flex;
    align-items: baseline; /* Align the label and input on the same baseline */
    gap: 20px; /* Adjust the gap between label and input as needed */
}

label {
    font-weight: bold;
    margin: 0; /* Remove any margin around the label */
}

input[type="text"] {
    padding: 3px; /* Add padding inside the input box */
}

.joukkuesalasana {
    display: flex;
    align-items: baseline; /* Align the label and input on the same baseline */
    gap: 70px; /* Adjust the gap between label and input as needed */
}

.joukkuesalasana input[type="password"] {
    padding: 3px; /* Add padding inside the input box */
}

