body {
    background-color: lightblue;
}

.kirjautumisvalikko {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.kirjautumisvalikko label {
    margin-top: 10px;
    font-weight: bold;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: blue;
    color: white;
    font-weight: bold;
}