<!DOCTYPE html>
<html lang="fi" xmlns="http://www.w3.org/1999/xhtml" xml:lang="fi">
<head>
<meta charset="utf-8"/>
<link rel="stylesheet" href="{{ url_for('static', filename='tyylit.css') }}" type="text/css" />
<title>TIES4080 - Viikkotehtävä 3 - 2024 kesä</title>
</head>

<body>  
  <div class="ylapalkki">    
    <label>ADMIN</label> |
    <a href="{{ url_for('adminPaasivu') }}">Kilpailut</a> |
    <a href="{{ url_for('joukkueet') }}">Sarjat</a> |
    <a href="{{ url_for('joukkueet') }}">Joukkueet</a> |
    <a href="{{ url_for('joukkueet') }}">Joukkue</a> |
    <form action="{{ url_for('logout') }}" method="POST" style="display:inline;">
      <button type="submit">Logout</button>
    </form>
  </div>
  <h1>Kilpailun sarjat</h1>
    <div class="sarjat">
        <ul class="sarjat">
            {% for sarja in sarjat %}
            <li value="{{ sarjat['sarjaid'] }}">
                <a href="/sarja/{{ sarja['sarjaid'] }}">{{ sarja['nimi'] }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
  <form action="{{ url_for('logout') }}" method="POST" style="display:inline;">
    <button type="submit">Logout</button>
  </form>
</body>
