<!DOCTYPE html>
<html lang="fi" xmlns="http://www.w3.org/1999/xhtml" xml:lang="fi">
<head>
<meta charset="utf-8"/>
<link rel="stylesheet" href="{{ url_for('static', filename='tyylit.css') }}" type="text/css" />
<title>TIES4080 - Viikkotehtävä 3 - 2024 kesä</title>
</head>

<body>
  <div class="header-box">
    <a href="{{ url_for('kirjaudu') }}">Kilpailut</a> |
    <span>{{ kilpailu['nimi'] }} ({{ kilpailu['pvm'] }})</span> |
    <a href="{{ url_for('tiedot', kilpailu=kilpailu['nimi']) }}">{{ käyttäjä }}</a> |
    <a href="{{ url_for('joukkueet') }}">Listaa joukkueet</a> |
    <form action="{{ url_for('logout') }}" method="POST" style="display:inline;">
      <button type="submit">Logout</button>
    </form>
</div>

  <h1>Kilpailun joukkueet</h1>
  <div class="kilpailut">
      <ul class="sarjat">
        {% for sarja in sarjat %}
          <li value="{{ sarja.sarjaid }}">{{ sarja.nimi }}
            <ul class="joukkueet">
              {% for joukkue in joukkueet %}
                {% if joukkue.sarja == sarja.sarjaid %}
                  <li value="{{ joukkue.joukkueid }}">{{ joukkue.nimi }}
                    <ul class="pelaajat">
                      {% if joukkue.joukkueid in jasenet %}
                        {% for jasen in jasenet[joukkue.joukkueid] %}
                          <li>{{ jasen }}</li>
                        {% endfor %}
                      {% else %}
                        <li>Ei jäseniä</li>
                      {% endif %}
                    </ul>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
  </div>
  <form action="{{ url_for('logout') }}" method="POST">
    <button type="submit">Logout</button>
  </form>
</body>
