<!DOCTYPE html>
<html lang="fi" xmlns="http://www.w3.org/1999/xhtml" xml:lang="fi">
<head>
<meta charset="utf-8"/>
<link rel="stylesheet" href="{{ url_for('static', filename='tyylit.css') }}" type="text/css" />
<title>TIES4080 - Viikkotehtävä 3 - 2024 kesä</title>
<title>Page Title</title>

</head>
    <body>

        <h1>Joukkue</h1>
        <label>Joukkueen nimi</label>
        <label>Salasana</label>
        <label>Sarja</label>
        <label>Jäsenet</label>
        <p>My first paragraph.</p>

    </body>
</html>