<!DOCTYPE html>
<html lang="fi">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="{{ url_for('static', filename='tyylit.css') }}" type="text/css" />
<title>TIES4080 - Viikkotehtävä 3 - 2024 kesä</title>
</head>

<body>
    {% include 'baseNavbar.html' %}

    <h1>Tietokannan kilpailut</h1>
    <div class="kilpailut">
        <ul class="sarjat">
            {% for kilpailu in kilpailut %}
                <li value="{{ kilpailu['kisaid'] }} ">
                    <a href="{{ url_for('views.kilpailut', kisaid=kilpailu['kisaid']) }}">
                        {{ kilpailu['nimi'] }}
                    </a>
                    {{ kilpailu['alkuaika'] }}
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
