<!DOCTYPE html>
<html lang="fi">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="{{ url_for('static', filename='tyylit.css') }}" type="text/css" />
<title>TIES4080 - Viikkotehtävä 3 - 2024 kesä</title>
</head>

<body>
    {% include 'baseNavbar.html' %}

    <h1 class="rastiotsikko">Rastit ja Leimaukset</h1>

    <table>
        <thead>
            <tr>
                <th>Koodi</th>
                <th>Id</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Kilpailu</th>
                <th>Leimauksia</th>
            </tr>
        </thead>
        <tbody>
            {% for rasti in rastit %}
            <tr>
                <td>{{ rasti['koodi'] }}</td>
                <td>{{ rasti['id'] }}</td>
                <td>{{ rasti['lat'] }}</td>
                <td>{{ rasti['lon'] }}</td>
                <td>{{ rasti['kilpailu'] }}</td>
                <td>{{ rasti['leimaukset_count'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

