<!DOCTYPE html>
<html lang="fi" xmlns="http://www.w3.org/1999/xhtml" xml:lang="fi">
<head>
<meta charset="utf-8"/>
<link rel="stylesheet" href="{{ url_for('static', filename='tyylit.css') }}" type="text/css" />
<title>TIES4080 - Viikkotehtävä 3 - 2024 kesä</title>
<title>Page Title</title>

</head>
    <body>
        {% include 'baseNavbar.html' %}
        
        <h1>Sarjan joukkueet</h1>
        <div class="SarjanJoukkuetidot">     
            <form method="POST">
                <div class="jasenet-list">
                    <div class="joukkuenimi">
                        <label for="nimi">Joukkueen nimi</label>   
                        <input type="text" id="nimi" name="nimi" value="{{ nimi if nimi is not none else '' }}">
                    </div>
                    <div class="joukkuesalasana">
                        <label for="salasana">Salasana</label>   
                        <input type="password" id="salasana" name="salasana" value="{{ salasana if salasana is not none else '' }}">
                    </div>                 
    
                    <label for="jasenet">Jäsenet</label>
                    <div class="jasenet-list">
                        {% for i in range(jasentenLukumaara) %}
                            <div class="jasen-box">
                                <label for="jasen_{{ i + 1 }}">Jäsen {{ i + 1 }}</label>
                                <input type="text" id="jasen_{{ i + 1 }}" name="jasenet[]" 
                                    class="jasen-nimi"
                                    value="{{ jasenet[i] if jasenet is not none and i < jasenet|length else '' }}">
                        {% endfor %}
                    </div> 
                </div>
                  
                <div class="joukkueet">
                    <ul class="joukkueet">
                        {% for joukkue in joukkueet %}
                        <li value="{{ joukkue['sarja'] }}">
                            <a href="{{ url_for('views.sarja', kisaid=kisaid, sarjaid=sarjaid, joukkueid=joukkue['joukkueid']) }}">
                                {{ joukkue['nimi'] }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            {% if error_message %}
                <div class="alert alert-danger">
                    {{ error_message }}
                </div>
            {% endif %}       
            <div class="buttons">
                <button type="submit" name="add_more" value="true">Lisää lisää jäseniä</button>
                <button type="submit" name="save" value="true">Tallenna</button>
            </div>
            </form>      
        </div>
    </body>
</html>